﻿@model StockPricesApp.Models.PriceGraph
@{
    ViewBag.Title = "History";
    Layout = "~/Views/_LayoutPage.cshtml";
 
}

    <div id="extra" class="container" >
        <div class="title">
            <h2 id="head">Name of metal</h2>
        </div>
        <div id="chart_div" class="chart"></div>
    </div>
    <script>
        var data = data = @Html.Raw(Json.Encode(Model.Data));//get data from model
        
        document.getElementById("head").innerHTML = data[0].Type;
        var chartdata = [];//array for google chart
        data.forEach(function(item, i, arr) {
            chartdata[i] = [];
            chartdata[i][1] = item.Value;
            chartdata[i][0] = new Date(parseInt(item.Time.replace("/Date(", "").replace(")/", ""), 10));
        });

        ////////// Generate google chart
        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

            var data = new google.visualization.DataTable();

            data.addColumn('datetime', 'Date');
            data.addColumn('number', '$');
            data.addRows(chartdata);

            var options = {
                hAxis: {
                    title: 'Time'
                },
                vAxis: {
                    title: 'USD'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    ///////////////
    </script>



