﻿@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<script>

    //Show date on main page
    function date_time(id) {
        date = new Date;
        year = date.getFullYear();
        month = date.getMonth();
        d = date.getDate();
        day = date.getDay();
        days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
        h = date.getHours();
        if (h < 10) {
            h = "0" + h;
        }
        m = date.getMinutes();
        if (m < 10) {
            m = "0" + m;
        }
        month++;
        if (month < 10) {
            month = "0" + month;
        }
        s = date.getSeconds();
        if (s < 10) {
            s = "0" + s;
        }
        result = '' + days[day] + '  ' + d + '.' + month + '.' + year + ' ' + h + ':' + m + ':' + s;
        document.getElementById(id).innerHTML = result;
        setTimeout('date_time("' + id + '");', '1000');
        return true;
    }
    
    
    function initialize() {

       
            
        if (window.EventSource == undefined) {
            // If not supported  
            return;
        } else {
            var source = new EventSource('../Home/Message');
            source.onerror = function (event) {
                if (event.eventPhase == EventSource.CLOSED) {
                }
            };

            source.onmessage = function (event) {
                var data = event.data.split("|");
                data.forEach(
                    function (item, i, arr) {
                        var res = item.split(";");
                        //case for change color of digits
                        if (res[0] != "") {
                            if ((parseFloat(document.getElementById(res[0] + '_field').innerHTML)) > (parseFloat(res[1]))) {
                                document.getElementById(res[0] + "_field").style.color = "#cc1111";
                            } else if ((parseFloat(document.getElementById(res[0] + '_field').innerHTML)) < (parseFloat(res[1]))) {
                                document.getElementById(res[0] + "_field").style.color = "#11cc11";
                            }
                            //Set time and value
                            document.getElementById(res[0] + '_field').innerHTML = res[1];
                            document.getElementById(res[0] + '_time').innerHTML = res[2];
                        }
                    });
            };
        }
    }

</script>  

    <div id="extra" class="container" >
        <div class="title">
            <h2>Check online stock prices</h2>
            <span class="byline" id="date_time"></span> </div>
       <script type="text/javascript">           window.onload = date_time('date_time'); </script>
        <div id="three-column">
            <div class="boxA">
			
                <div class="title box"> <a  href="/history?type=gold">
                                            <span class="byline" > Gold </span></a>
                    <div ><p class="byline" style="color: #11cc11" id="gold_field"></p></div>
                    <div style="height: 1px"><p style="color: #aaaaaa; font-size: 14px" id="gold_time"></p></div>
                </div>
            </div>
            <div class="boxB">
			
                <div class="title box"> <a  href="/history?type=silver">
                                            <span class="byline"> Silver </span></a>
                    <div ><p class="byline" style="color: #cc1111" id="silver_field"></p></div>
                    <div style="height: 1px"><p style="color: #aaaaaa; font-size: 14px" id="silver_time"></p></div>
			
                </div>
            </div>
            <div class="boxC">
			
                <div class="title box"> <a  href="/history?type=palladium">
                                            <span class="byline"> Palladium </span></a>
                    <div ><p class="byline" style="color: #11cc11" id="palladium_field"></p></div>
                    <div style="height: 1px"><p style="color: #aaaaaa; font-size: 14px" id="palladium_time"></p></div>
                </div>
            </div>
	
        </div>
    </div>
    <script type="text/javascript">        javascript: initialize(); </script>
