﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <link href="/Content/Site.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
<link href="/Content/default.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/Content/fonts.css" rel="stylesheet" type="text/css" media="all" />
       
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <title></title>
    </head>
    <body>
    <div id="wrapper">
	<div id="banner">
		<div class="container">
		    <a href="/" class="noref">
			<div class="title">
				<h2>STOCK PRICES APP</h2>
				<span class="byline">Only real-time prices</span> </div>
                </a>
		</div>
	</div>
            <div>
        @RenderBody()
            </div>
      </div>
    </body>
</html>
